<h1>Welcome, please log in</h1>
<label for="username_text">Username</label>
<input id="username_text" type="text" name = "username_text">
<br>
<br>
<label for="password_text">Password</label>
<input id="password_text" type="password" name = "password_text">
<br>
<br>
<input type="submit" value="Log In">